@import url("https://fonts.googleapis.com/css?family=Overpass");

* {
	box-sizing: border-box;
	font-family: "Overpass", sans-serif;
}
body{
  font-family: 'Overpass';
  font-family: 'Poppins', sans-serif;
}
.join-cont{
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  justify-items: flex-end;
  height: fit-content;
  width: fit-content;
}
.form-sec{
  width: 30%;
 
  margin-right: 2rem;
}
.form-sec img{
  height: 500px;
  object-fit: contain;
}
.cont{
text-align: center;
justify-content: center;
align-items: center;
align-content: center;

padding-top: 2rem;

background-color: white;
border: 1px solid rgb(190, 186, 186);
background-color: rgb(249, 249, 249);
box-shadow: 5px 5px 5px rgb(209, 207, 207);
height: fit-content;
padding:10vh;
width: fit-content;
background-color: rgb(6,78,137);

}
.cont h3{
  font-size: 1.7rem;
  color: rgb(21, 22, 26);
  
}
textarea{
  width: 100%;
  height: 150px;
  padding: 1rem;
}


a{
  color: white;
  text-decoration: none;
}
.buttonn{padding: 1rem;
font-size: 2.5rem;}
button a{
  color:white
}

p{
  font-weight: bold;
  word-wrap: break-word;
  padding-top: 2rem;
}


.logout{
  font-size: 1.5rem;
  
  border: none;
  cursor: pointer;
  
  border-radius: 5px;
 
}

/**************************Navbar*******************************/
.navbar{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-bottom: 0;
  margin-bottom: 0;
  align-items: center;
  
  padding: 1rem 0;
  margin-bottom: 0rem;
}
.navbar button{
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  background-color: rgb(21, 22, 26);
  color: white;
  outline: none;
}
a{
  color: rgb(21, 22, 26);
}
.navbar ul{
  display: flex;
  list-style: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
li{
  padding-right: 1rem;
  font-size: 1.3rem;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0.5rem;
}
.brand{
font-size: 3rem;
padding: 0;
margin: 0;
color: rgb(21, 22, 26);
}
li a:hover{
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.5rem;
  color: black;
}
h2{
  font-size: 4rem;
  font-weight: lighter;
  color: rgb(21, 22, 26);
  transform: scale3d(1, 1, 1);
  
}
.main-ban h2{
  font-size: 5.5rem;
}
.main-ban{
  display: flex;
  width: 95%;
  margin: auto;
  height: 80vh;
  justify-content: space-between;
  margin-top: 0rem;
  align-items: flex-start;
}
.main-ban button{
  background-color: white;
  color: rgb(21, 22, 26);
  border-radius: 10px;
  width: 300px;
  height: fit-content;
  font-size: 2rem;
  border: 3px solid rgb(21, 22, 26);
  outline: none;
  padding: 1rem 2rem;
  margin-top: 0rem;
  cursor: pointer;
}
.user-img{
  width: 50px;
  height: 50px;
  
  border-radius: 50%;
  margin-left: 1rem;
  overflow: hidden;
}
.user-cont{
  display: flex;
}
.user-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-ban button:hover{
  background-color: rgb(21, 22, 26);
  color: white;
}
.main-ban h2:hover{
  
  cursor: pointer;
  animation: rubberBand ease-in-out 1s forwards;
  
}
@keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
    font-weight: bolder;
  }

  100% {
    transform: scale3d(1.1, 1, 1);
    font-weight: bolder;
    
    
  }

 
  
}
/*What we offer*/
.offer-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.offer{
  display: flex;
  width: 100%;
  justify-content:space-between;
  margin-bottom: 20vh;
  flex-wrap: wrap;
}
.of-h{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  padding: 3rem 5rem;
 
}
.of-b p{
  word-wrap: break-word;
 font-size: 1.4rem;
 font-weight: lighter;

}
.of-b{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(37,52,72);
  color: white;
  width: 50%;
  padding: 3rem 5rem;
}
.of-h h3{
  font-weight: bolder;
}
.offer-cont h2{
  margin-bottom: 4rem;
}
.ser-b,.ser-h{
  flex-direction: column;
  background-color: white;
  color: black;
  justify-items: center;
  align-items: flex-start;
  justify-content: center;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.ser-h h3{
  font-size: 3.5rem;
  padding: 0;
  margin: 0;
  font-weight: lighter;

}
.ser-h ul{
  list-style: numbers;
  margin-top: 1rem;
  width: 100%;
}
.ser-h li{
  margin-top: 1rem;
  border-bottom: 1px solid black;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
}
.service-cont{
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}
.ser-h{
  padding-top: 10%;
}
.ser-b p{
  width: 90%;
}
.test-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: rgb(190, 205, 222);;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  padding: 3rem;
  flex-wrap: wrap;
}

.test{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.tcard{
  width: 45%;
  background-color: white;
  padding: 3rem 5rem;
  border-radius: 20px;
}

.tcard p{
  font-size: 1.5rem;
  height: 50vh;
  font-weight: lighter;
  font-style: italic;
}
.tcard h4{
  font-weight: bolder;
}
.test-cont h2{
  justify-self: flex-start;
  align-self: flex-start;
  padding-left: 5%;
  font-weight: bolder;
  
}
.foot{
  width: 90%;
  margin: auto;
  height: 60vh;
  margin-bottom: 10vh;
}
.foot1,.foot2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 5vw;
  
}
.foot1{
  height: 20vh;
  background-color: rgb(21, 22, 26);
  color: white;
 
}

.foot2{
  height: 40vh;
  background-color: rgb(190, 205, 222);
  color: rgb(21, 22, 26);
}
.foot1 h2{
  font-size: 3rem;
  color: white;
}
.foot1 i{
  color: white;
  font-size: 2.5rem;
  padding-right: 1rem;
  cursor: pointer;
}
.foot2 h3{
  font-size: 2rem;
}
.foot2 ul{
  list-style: none;
}
.foot2 li{
  padding-bottom: 0.1rem;
  margin-bottom: 0.7rem;
}
.foot2 li:hover{
  border-bottom: 3px solid rgb(21, 22, 26);
  cursor: pointer;
}
.foot1 button{
  font-size: 2rem;
  padding: 1rem 2.5rem;
  cursor: pointer;
background-color: rgb(190, 205, 222);
color: rgb(21, 22, 26);
  font-weight: bolder;
}
/*Search*/
.search-h{
  width: 100%;
  height: fit-content;
  background-color: rgb(249, 249, 249);
  color: rgb(21, 22, 26);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 2rem;
 
  height: 40vh;
  position: relative;
}
.search-h img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.dark{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
.search-h h2{

  padding-bottom: 2rem;
  margin: 0;
  font-size: 3.5rem;
  letter-spacing: 2px;
  z-index: 3;
  color: white;
}
.search-h input,select{
  margin-right: 2rem;
  font-size: 1.2rem;
  padding: 0.3rem;
  z-index: 5;
  position: relative;
}
.results-cont{
  width: 90%;
  margin: auto;
  margin-top: 10vh;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.cand-cont{
  border-radius: 10px;
  padding: 2rem;
  border: 1px solid rgb(209, 216, 224);
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  justify-items: flex-start;
  margin-right: 2rem;
  margin-bottom: 3rem;
}
.cand-c1{
  display: flex;
  justify-content: space-around;
}
.cand-img{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: contain;
  overflow: hidden;
  margin-right: 2rem;
}
.cand-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}
.cand-c1 span{
  margin-right: 0.5rem;
  
}
.cand-name{
  margin-right: 2rem;
}
.cand-c2{
  display: flex;
  justify-content: flex-start;
}
.cand-cont span{
  font-weight: bolder;
}
.cand-cont p{
  word-wrap: break-word;
  padding-top: 0;
  margin-bottom: 0;
  padding-top: 1rem;
}
 .cand-cont h4{
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
/*Join*/
.join-cont{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.join-cont .cont{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 color: rgb(21, 22, 26);
 background-color: white;
}
.cont{
  margin-top: 10vh;
}

.nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: blue;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
  position: absolute;
}
body{
  overflow-x: hidden;
}

.footer{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  background: url('Components/Common/imgs/f\ \(1\).jpg') no-repeat center center fixed;
 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color: white;
position: relative;
  
}
.foot-sec{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 5vh;
  position: relative;
  
  z-index: 10;
}
.foot-sec p{
  padding: 2rem 0;
}
.foot-sec i{
  margin-right: 0.5rem;
}
.foot-sec .icons i{
  font-size: 1.5rem;
  
  margin-right: 1rem;
  cursor: pointer;
}
.foot-sec span{
  margin-top: 0.5rem;
  cursor: pointer;
}
.foot-sec h3{
  margin-bottom: 1rem;
}
.footer .dark{
  background-color: rgba(0, 0, 0, 0.8);
}
@media only screen and (max-width: 1280px) {
  .main-ban{
    width: 90%;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    height: fit-content;
    justify-content: center;
  }
  .main-ban h2{
    text-align: center;
  }
  .ban-tex{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    border: 1px red solid;
  }
  .offer{
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .of-h{
    width: 100%;

  }
  .of-b{
    width: 100%;
  }
  #inverse{
    flex-direction: column-reverse !important;
  }
  .test-cont{
    height: fit-content;
  }
  .tcard p{
    height: fit-content;
    
  }
  .test{
    flex-direction: column;
   
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: fit-content;
  }
  .tcard{
    width: 100%;
    margin-bottom: 5vh;
    height: fit-content;
  }
  .foot{height: fit-content;}
  .foot1,.foot2{
    flex-direction: column;
    margin-bottom: 5vh;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: fit-content;
    width: 100%;
  }
  .foot1 i{
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
  body{
    overflow-x:hidden ;
  }
  .search-h{
    height: fit-content;
    padding: 5vh 0;
    width: 100%;
    margin-right: 0;

  }
  .cand-cont{
    width: 100%;
  }
  /*****************************************/
   .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	 nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		transition: 1s;
    background-color: rgb(21, 22, 26);
    z-index: 100;
    font-size: 3rem;
	}
  nav ul{
    flex-direction: column;
    color: white;
  }
  nav li{
    color: white;
    font-size: 3rem;
    padding-bottom: 2rem;
  }
  .navbar button{
    background-color: white;
    color: rgb(21, 22, 26);

  }
  #close{
    background-color: transparent;
    color: white;
    font-size: 4rem;
  }
  #bars{
    color: rgb(21, 22, 26);
    font-size: 3rem;
  }
  .navbar{
    padding-top: 2rem;
  }
  #join a{
    color: rgb(21, 22, 26);
    font-size: 2rem;
    font-weight: bolder;
  }
  nav a{
    color: white;
  }

 .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}
  .footer{
    flex-wrap: wrap;
    justify-content: space-between;
    
    height: auto;
  }
 
  .foot-sec h3{
    font-size: 1.5rem;
  }
  .foot-sec #logo{
    font-size: 2rem;
  }
  .footer span{
    font-size: 1.3rem;

  }
  
}
@media only screen and (max-width: 600px) {
  .tcard{
    padding: 0.5rem 1rem;
    width: 100%;
  }
  .test-cont{
    padding: 1rem;
  }
  .tcard p{
    font-size: 1rem;
  }
  h2{
    font-size: 2rem;
  }
  #main-player{
    width: 70%;
  }
  .main-ban button{
    width: 170px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .of-b{
    padding: 1rem 2rem;
  }
  .ser-h h3{
    font-size: 2rem;
  }
  .ser-b p{
    width: 100%;
  }
  .ser-h{
    width: 100%;
  }
  .of-h{
    width: 100%;
    padding: 1rem 2rem;

  }
  .brands-car h3{
    text-align: center;
  }
  .results-cont{
    width: 95%;
  }
.cand-cont{
  padding: 2rem 0.5rem;
}
.search-h h2{
  font-size: 2rem;
}
.search-h input,select{
  margin-right: 1rem;
  font-size: 0.7rem;

}
#bars{
  font-size: 2rem;
}
#logo{
  font-size: 2rem;
}
#close{
  font-size: 2rem;
}
nav li{
  font-size: 2rem;
}
#join a{
  font-size: 2rem;
}
.footer{
  height: fit-content;
  background-color: bisque;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding-bottom: 10vh;
}
.foot-sec{
  margin-right: 0;
  
  width: 100%;
  margin-left: 10vh;
}
}


